META_VERIFY_TOKEN=YOUR_VERIFY_TOKEN
PORT=3000
PAGE_ID=YOUR_PAGE_ID
PAGE_ACCESS_TOKEN=YOUR_PAGE_ACCESS_TOKEN
IG_BUSINESS_ID=YOUR_IG_BUSINESS_ID
IG_USER_ID=YOUR_IG_USER_ID
TARGET_MEDIA_ID=YOUR_TARGET_MEDIA_ID
PODCAST_LINK=YOUR_PODCAST_LINK
KEYWORD=YOUR_KEYWORD